<h1>Add Ingredients to your Cocktail</h1>
<br>
<br>
<br>
<h2>Add new Ingredients for <%= @cocktail.name %></h2>
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.input :description, placeholder: "for example cl or grams " %>
        <%= f.association :ingredient %>
        <%= f.submit "Add ingredients", class: 'btn btn-primary' %>
      <% end %>
<br>
<br>
<%= link_to 'back to all cocktails', cocktails_path %>

<p>Find me in app/views/doses/new.html.erb</p>
